@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root {
    --primary-color: #4338CA;
    --off-white:#EEF2FF;
}

body {
    font-family: 'Lato';
    font-size: larger;
    /* margin-bottom;: 0px */
}

.container-fluid {
    padding: 0rem 1rem;
}

.container {
    margin: auto;
    padding: 1rem;
}

.container-center {
    max-width: 600px;
    text-align: center;
}

.link {
    text-decoration: none;
    border-radius: 0.5rem;
    color:white;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    margin: 1rem 1rem 1rem 0rem;
    max-width: 140px;
    padding: 0.5rem;
}

.secondary-link {
    color: var(--primary-color);
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
}

hr {
    margin: 2rem 0rem;
}

.unordered {
    list-style: none;
}

.list-inline {
    display: inline;
    margin: 0rem .5rem;
}

.navigation{
    background-color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 700;
    color:white;
    padding:1rem;
    border-bottom-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
}

.navigation .link{
    color: white;
}

.nav-pills{
    text-align: right;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 300px;
    margin: auto;
    display: block;
}

.hero-heading{
    text-align: center;
    color : #9CA3AF;
    font-family: 'Fredoka One';
}

.footer{
    background-color: var(--primary-color);
    color:white;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
}

.section{
    text-align: center;
    padding:1rem;
}

.ow{
    background-color: var(--off-white);
}

.dark-mode{
    background-color: black;
    color:white;
}

.dark-mode .ow{
    background-color: var(--off-white);
    color:black;
}
